* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('assets/img/bg.jpg');
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}

.main nav {
    max-width: 80vw;
    display: flex;
    align-items: center;
    background-color: yellow;
    margin: auto;
    justify-content: space-around;
}
